<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mcn -->
      <package
            uri="http://models.cs.ox.ac.uk/ns/modelcatalogue"
            class="modelcatalogue.McnPackage"
            genModel="model/mcn.genmodel"/>
   </extension>

</plugin>
